
@{
    ViewData["Title"] = "Reserveringspagina";
}

<h2>Reserveringspagina</h2>
<form name="aanmelding" action="/administratie/create" method="post">
    <div>Naam: <input name="Naam" type="text" /></div>
    <div>Telefoonnummer: <input name="Telnummer" type="text" /></div>
    <div>kamernummer: <input name="Kamernummer" type="text" /></div>
    <div><input type="submit" value="Aanmelden" /></div>
</form>

